<table class="table">
  <tbody>
    <tr ng-repeat="(id, article) in articles.data | orderBy:'votes'">
      <td><img src="{{article.photo}}" class="articleImg"></td>
      <td>
        <a href="/#/reddthat/{{id}}">{{article.title}}</a>
      </td>
      <td>{{article.author}}</td>
      <td>
        <button ng-click="articles.updateVotes(id, 1)">UP</button>
        <p>{{article.votes}}</p>
        <button ng-click="articles.updateVotes(id, -1)">DOWN</button>
      </td>
    </tr>
  </tbody>
</table>