<!doctype html>
<html lang="en-US" ng-app="reddthat">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Title</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:200,300' rel='stylesheet' type='text/css'
  </head>
	<body>

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

      <nav class="navbar navbar-default navbar-fixed-top barraNav" ng-controller="AuthController as auth">
        <div class="container">
          <img class="header logo1" src="images/logo.png">
          <form class="navbar-form navbar-right" ng-submit="auth.login()" novalidate>
	          <div class="form-group">
		          <div class="loggedOut-container" ng-hide="auth.isLoggedIn()">
			          <ul class="nav nav-pills">
			            <li>
			              <input class="bottones form-control" type="email" placeholder="Email" ng-model="auth.user.email" required>
			            </li>
			            <li>
			              <input class="bottones form-control" type="password" placeholder="Password" ng-model="auth.user.password" required>
			            </li>
			            <li>
			              <input type="submit" value="Login" class=" bottones active btn btn-success">
			            </li>
			            <li>
			            	<input type="submit" value="Register" class=" bottones active btn btn-success" ng-click="auth.register()">
									</li>
			          </ul>
							</div>
		          <div class="loggedIn-container" ng-show="auth.isLoggedIn()">
			          <ul class="nav nav-pills">
	            		<button class="bottones active btn btn-primary npButton" data-toggle="modal" data-target="#modal-1">New Post</button>
			          </ul>
		          </div>
		          </ul>
	          </div>
          </form>
        </div>
      </nav>

    <div class="container modal-container">
	    <div class="modal fade" id="modal-1" ng-submit="reddthat.addNewPost()">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
	            <h1>New Post</h1>
              <div class="form-group" name="reddthat.newPostForm">
							  <label class="control-label">Article Title</label>
							  <input class="form-control inputColor" id="articleTitle" ng-model="reddthat.newPost.title" required>
							  <label class="control-label">Photo URL:</label>
							  <input type="url" class="form-control inputColor" id="photoUrl" placeholder="Enter Url" ng-model="reddthat.newPost.photo">
							  <label class="control-label">Article URL:</label>
							  <input type="url" class="form-control inputColor" id="articleUrl" placeholder="Enter Url" ng-model="reddthat.newPost.link">
							  <label class="control-label">Article Description</label>
							  <input type="text" class="form-control inputColor" id="articleDescription" ng-model="reddthat.newPost.description" required>
							</div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div ng-view>

      </div>

		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="js/main.module.js"></script>
    <script src="js/auth/auth.config.js"></script>
    <script src="js/main.config.js"></script>
    <script src="js/main.constants.js"></script>
    <script src="js/auth/auth.factory.js"></script>
    <script src="js/auth/auth.controller.js"></script>
		<script src="js/articles/articles.config.js"></script>
		<script src="js/articles/articles.controller.js"></script>
		<script src="js/articles/articles.factory.js"></script>
		<script src="js/articles/show.controller.js"></script>

  </body>
</html>